<html>
{% include 'listr/base.html' %}

<head>

    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyCUSkUaTU4DJhuheYoh3_x2y1BBD40N3yc"></script>




</head>


<style>
    #thamap { height: 600px; }

    body {
        padding: 2em;
    }

    .panel-group .list-group {
        margin-bottom: 0;
    }

    .panel-group .list-group .list-group-item {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .panel-group .list-group .list-group-item:last-child {
        border-bottom: none;
    }

</style>

<body>
{% block content %}
    <div class="col-sm-4">
    <ul>
        {% for c in clist %}
        <h3>{{ c.name }}</h3>
        <h4>Created by: <a href="">{{ c.created_by }}</a></h4>
        {% endfor %}

        <div class="panel-group" id="accordion">

        {% for p in places %}

{#            <h1>Collapse (as seen in documenatation)</h1>#}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ p.id }}">{{ p.name }}</a>
                        </h4>
                    </div>
                    <div id="{{ p.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

        {% endfor %}

        </div>
    </ul>

    <br>



    <div class="col-sm-12">
        <h3>Add a new place</h3>
        <form id="place_form" method="post" action={% url 'place_list' listid %}>
                {% csrf_token %}
            <input id="searchTextField" name="searchTextField" type="text" size="45">
            <input hidden id="searchName" name="searchName" type="text" size="45">
            <input hidden id="searchAddress" name="searchAddress" type="text" size="45">
            <input hidden id="searchCity" name="searchCity" type="text" size="45">
            <input hidden id="searchState" name="searchState" type="text" size="45">
            <input hidden id="searchNeighborhood" name="searchNeighborhood" type="text" size="45">
            <input hidden id="searchURL" name="searchURL" type="text" size="45">
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    </div>


    <div class="col-sm-8">
            <div id="thamap">

            </div>

    </div>

{% endblock %}

<script>

    function initialize() {

        var input = document.getElementById('searchTextField');

        var options = {
          types: ['establishment']
        };

        var autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.addListener('place_changed', fillInAddress);

        function fillInAddress() {
          // Get the place details from the autocomplete object.
          var place = autocomplete.getPlace();

            console.log(place);
            console.log(place.address_components[3].long_name);

            $("#searchName").val(place.name);
            var address = place.address_components[0].short_name + ' ' + place.address_components[1].short_name;
            $("#searchAddress").val(address);
            $("#searchCity").val(place.address_components[3].long_name);
            $("#searchNeighborhood").val(place.address_components[2].short_name);
            $("#searchURL").val(place.url);

            if (place.address_components[4].types[0] = 'administrative_area_level_1') {
                $("#searchState").val(place.address_components[4].short_name);
            }
            else {
                $("#searchState").val(place.address_components[5].short_name);
            }

        }

    }



    google.maps.event.addDomListener(window, 'load', initialize);


    var geoj = {{geoj|safe}}


    var mymap = L.map('thamap').setView([39, -77], 11);;

     var tilez = L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(mymap);

//    mymap.locate({setView: true, maxZoom: 16});

    function onEachFeature(feature, layer) {

        layer.bindPopup(feature.properties.name);
    }


    var mappa = L.geoJson(geoj, {onEachFeature : onEachFeature}
    ).addTo(mymap);

    var bounds = mappa.getBounds();
    mymap.fitBounds(bounds);

//    function onLocationFound(e) {
//            var radius = e.accuracy / 2;
//
//            L.circle(e.latlng, radius).addTo(mymap).bindPopup("You are within " + radius + " meters from this point").openPopup();
//        }
//
//    mymap.on('locationfound', onLocationFound);

</script>

</body>



